.leptos-material-card {
	display: block;
	padding: 16px;
	padding-top: 4px;
	padding-bottom: 4px;
	margin: 8px;
	border-radius: 12px;
	position: relative;
}

.leptos-material-card.elevated:hover {
	--md-elevation-level: 2;
}

.leptos-material-card.elevated {
	background-color: var(--md-sys-color-surface-container-low);
	color: var(--md-sys-color-on-surface);
	--md-elevation-level: 1;
}

.leptos-material-card.filled {
	background-color: var(--md-sys-color-surface-container-highest);
	color: var(--md-sys-color-on-surface);
	--md-elevation-level: 0;
}

.leptos-material-card.outlined {
	background-color: var(--md-sys-color-surface);
	color: var(--md-sys-color-on-surface);
	border: 1px solid var(--md-sys-color-outline-variant);
	--md-elevation-level: 0;
}

.leptos-material-card-headline {
	display: flex;
	flex-direction: row;
}